*{
    box-sizing: border-box;
    font-family: "Oswald";
}
html {
    scroll-behavior: smooth;
}
/* styling header*/
header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: white;

}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    
}
li {
    margin-left: 2rem;
}
.about, .recipes, .contact {
    font-size: 24px;
    text-decoration: none;
    color: black;
} 
.recipes:hover, .about:hover, .contact:hover {
    color: #568EA3;
}

/*styling home section*/
@keyframes slidein {
    from {
      opacity: 0.2;
    }
  
    to {
      opacity: 1;
    }
 }
#home {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation-duration: 2s;
    animation-name: slidein;
    box-shadow: 0px, 20px 10px #568EA3;
}
.baking_home {
    width: 600px;
}
 
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    text-align: center;
}
.welcome {
    font-size: 80px;
    color: #568EA3;
    font-weight: 400;
}
.welcome + p {
    font-size: 20px;
}

/*styling about section*/
#about {
    height: 100vh;
    margin-top: 100px;
    background-color: #f7f3ef ;
    padding: 50px;

}

.about-info {
    margin-top: 50px;
    font-size: 30px;
    color: #568EA3;
    text-align: center;
}
.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.about-text {
    margin-left: 20px;
    width: 600px;
    text-align: center;
    font-weight: 400;
    font-size: larger;
}
.recipe_img {
    width: 450px;
    height: 450px;

}

#recipes> h1 {
    color: #568EA3;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.carousel {
   position: relative;
   margin-left: 200px;
}

.recipe-content {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.recipe-content.active {
    opacity: 1;
}
.recipe-content > div {
    margin-left: 50px;
    width: 400px;
}

h2 {
    text-decoration: none;
    color: #568EA3 ;
}


a {
    text-decoration: none;
}

.slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    z-index: 2;
    border-radius: 5px;
}

.previous, .next {
    background-color: #568EA3;
    border-style: none;
    color: #fff;
    font-size: 20px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 250px;

}

.next {
    float: right;
}

.previous {
    float: left;
}

.next.disabled, .previous.disabled {
    background-color: grey;
    cursor: no-drop;
}

#contact {
    margin-top: 600px;
    background-color: #f7f3ef; 
}

#contact > h1 {
    text-align: center;
    color: #568EA3;
    font-size: 30px;
}
.form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-content > img {
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}


.submit {
    padding: 10px, 50px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
    background-color: #568EA3;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}
footer {
    margin-top:  50px;
    border-top: rgba(210, 215, 211, 0.5) 1px solid
}


.site {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.fa-brands {
    margin-left: 30px;
    font-size: 30px;
    color: black;
}

.fa-brands:hover {
    color: #568EA3;
}

.attribution {
    font-size: 14px;
    text-align: center;
}